<div class="frame">
 <div class="bodyy">
   <div class="left-arm"></div>
   <div class="left-eye">
     <div class="inner-one">
       <div class="inner-two">
        <div class="inner-three"></div> 
       </div>
     </div>
   </div>
   
   <div class="right-eye"></div>
   <div class="left-dimple"></div>
    <div class="right-dimple"></div>
    <div class="smile"></div>
   <div class="right-arm"></div>
   <div class="left-foot"></div>
    <div class="right-foot"></div>
   </div>
</div>
